/**
 * The APN string for modem data connection
 */
#define DEFAULT_APN ""
/**
 * The USERname string for modem data connection
 */
#define DEFAULT_USER ""
/**
 * The PASSword string for modem data connection
 */
#define DEFAULT_PASS ""
/**
 * The SMS message key used to authenticate received SMS messages
 */
#define SMS_KEY "pass"
/**
 * The number to send SMS messages to, e.g. +447771234567
 */
#define SMS_SEND_NUMBER ""
/**
 * The server update key which is sent with each location update message
 */
#define SERVER_KEY ""
